body{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

div{
    padding: 0;
    margin: 0;
}

.siderbar{
    width: 50%;
    float: left;
    position: relative;
    border-right-width: 1px;
    border-right-color: #DCDCDC;
    border-right-style: solid;
}
