/* Code Boxes */

pre {
    border: 1px solid #ddd;
    padding: 0.5em;
    font-size: 1.2em;
    overflow-x: auto;
    font-family: "Lucida Console", Monaco, monospace;
}

code {
    background: #f9f9f9;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
}

pre code {
    background: none;
}