body{
    background-image: url("../images/bg.gif");
    background-repeat: repeat;
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

div{
    padding: 0;
    margin: 0;
    height: 100%;
}

 ul,li{
     padding: 0;
     margin: 0;
 }

.wrapper{
    display: -webkit-flex;
    display: flex;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #888888;

    /* flex  */
    flex-direction: row;
    flex-wrap: nowrap;
    /* 定义了项目在主轴上的对齐方式 */
    justify-content: flex-start;
    align-items: flex-start;
}

.content{
    order: 1;
    background-color: aqua;
    flex: 0 0 85%;
}


.siderbar{
    order: 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    border-right-color: #DCDCDC;
    border-right-style: solid;
    flex: 0 0 15%;
}

.nav ul{
    padding: 0;
    margin: 10px 10px 0 10px;
}

.icon{
    color:rgb(90, 120, 212);
}

.icon-title{
    margin-left: 10px;
}

.nav li{
    line-height: 35px;
    height: 35px;
    padding: 0;
    list-style: none;
}


.header{
    display: -webkit-flex;
    display: flex;
    height: 50px;
    border-bottom: solid 1px #DCDCDC;
}

.avatar{
    margin: 6px;
}

.user{
    vertical-align: middle;
}

.user span{
    line-height: 50px;
}

.header img{
    border-radius:50%;
    height: 32px;
    width: 32px;
}

.footer{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 50px;
    padding-top: 5px;
    border-top: #DCDCDC solid 1px;
}

.footer p{
    color: grey;
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0 0 0;
}

.footer-icons{
    font-size: 0.8em;
    width: auto;
    text-align: center;
}

.footer-icons span{
    margin-left: 5px;
}

.footer-icons span{
    color:gray;
    font-size: 2em;
}
