<!-- css styles -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/md.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/single.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/scroll.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}fonts/font-awesome-5.0.9/css/fontawesome-all.min.css">

<link rel="stylesheet" href="{{ .Site.BaseURL }}js/highlight/styles/xcode.css">
<script src="{{ .Site.BaseURL }}js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>