<!-- css styles -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/font.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/md.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/single.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/scroll.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">