<div class="post-list">
    {{ range (.Paginator 10).Pages }}
    <div class="post-list-item">
        <div class="post-item-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </div>

        <div class="post-item-category">
            <p>类别：<a href="compute">计算机</a></p>
        </div>

        <div class="post-item-description">
            {{ .Summary | truncate 250 }}
        </div>

        <div class="post-item-readmore">
            <a href="{{ .Permalink }}">阅读全文</a>
        </div>
    </div>
    {{ end}}
</div>

{{ partial "pagination.html" . }}