<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{ partial "head.html" .}}
</head>

<body>
    <div class="wrapper">
        <div class="siderbar">
            <div class="header">
                <a>孙飞的个人博客</a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <span class="fas fa-list-ul icon"></span>
                        <span>Win10应用开发</span>
                    </li>
                    <li>
                        <span class="fas fa-list-ul icon"></span>
                        <span>Win10应用开发</span>
                    </li>
                    <li>
                        <span class="fas fa-list-ul icon"></span>
                        <span>Win10应用开发</span>
                    </li>
                    <li>
                        <span class="fas fa-list-ul icon"></span>
                        <span>Win10应用开发</span>
                    </li>
                </ul>
            </div>
            <div class="footer">
               <span class="fab fa-github"></span>
               <span class="fab fa-weibo"></span>
            </div>
        </div>

        <div class="content">
            <div class="articles"></div>
            <div class="articles"></div>
        </div>
    </div>
</body>

</html>