<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{ partial "head.html" .}}
</head>

<body>
    <div class="wrapper">
        <div class="siderbar">
           {{ partial "header.html" . }}
           {{ partial "nav.html" . }}
           {{ partial "footer.html" . }}
        </div>

        <div class="content">
            <ul>
                {{ range where .Site.Pages "Type" "post"}}
                <li>
                    <div class="item">
                      <h1><a href="http://www.baidu.com">{{ .Title }}</a></h1>
                      {{ .Content | safeHTML | truncate 250 }}
                    </div>
                </li>
                {{ end}}
            </ul>
        </div>
    </div>
</body>

</html>