<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{ partial "head.html" .}}
</head>

<body>
    <div class="container">
        {{ partial "header.html" . }}
        {{ partial "nav.html" . }}
        <div class="content">
            {{ partial "posts.html" . }}
        </div>
        {{ partial "footer.html" . }}
    </div>
</body>

</html>